*,
*::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

body {
  --color-dark: rgb(19, 19, 19);
  --color-highlight: rgb(49, 45, 44);
  --color-text: rgb(71, 70, 69);
  --color-light-grey: rgb(231, 228, 227);
  --color-light: rgb(251, 248, 247);
  --color-white: rgb(255, 255, 255);
  --shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.15);

  color: var(--color-light);
  background-color: var(--color-dark);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 80em;
  margin: auto;
}

.padding {
  padding: 1rem;
}

.padding-b {
  padding-bottom: 1rem;
}

@media (min-width: 40em) {
  .padding {
    padding: 2rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.573);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.links {
  gap: 2rem;
}

.hero {
  padding-top: 3rem;
  position: relative;
  height: 70vh;
  background-image: url('../images/assortment-cinema-elements-red-background-with-copy-space.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.687);
}

.hero .container {
  position: relative;
  flex-direction: column;
  height: 100%;
}

.maze__grid {
  gap: 1rem;
}

.maze__card {
  max-width: 400px;
}

.card__image {
  width: 100%;
}
