* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80em;
  margin: auto;
}

.padding {
  padding: 1rem;
}

.padding-b {
  padding-bottom: 1rem;
}

@media (min-width: 40em) {
  .padding {
    padding: 2rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.links {
  gap: 2rem;
}

.maze__grid {
  gap: 1rem;
}

.maze__card {
  max-width: 400px;
}

.card__image {
  width: 100%;
}
